numpy~=1.24.1
scipy~=1.8.0
bm3d~=3.0.9
jupyter~=1.0.0
pip~=23.0.1
attrs~=21.2.0
argparse~=1.4.0
Pillow~=9.0.1
tornado~=6.2
Jinja2~=3.0.3
setuptools~=41.2.0
packaging~=21.3
pyparsing~=3.0.6
zipp~=3.6.0
torch~=1.13.1
torchvision~=0.14.1
noise~=1.2.2
matplotlib~=3.6.2
tqdm~=4.62.3